<footer class="bg-light text-center text-lg-start">
    <hr>
  
    <div class="container p-4">
  
        <div class="row">
  
            <div class="col-lg-8 col-md-12 ">
                <h5 class="text-uppercase">Digital Risk | Domain Threat Analysis</h5>
  
                <p class="text-justify">
                    Domain Threat Analysis | Analys Portal
  
                </p>
  
                <p class="text-justify">
                   Support Email: x-digital-risk@proofpoint.com
                </p>
            </div>
  
            <div class="col-lg-4 col-md-12">
                <h5 class="text-uppercase">Useful Links</h5>
  
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="https://prod.portal.nx.gt/takedown_domains" target="_blank">Virtual Takedown Portal</a>
                </li>
                    <li>
                        <a href="https://prod.portal.nx.gt/home" target="_blank">Analyst Portal</a>
                    </li>
                    <li>
                        <a href="https://suite.us.nexgate.com/users/sign_in" target="_blank">Digital Risk Suite v1</a>
                    </li>
                    <li>
                        <a href="https://us4.digitalrisk.proofpoint.com/dashboard" target="_blank">Digital Risk Suite v2</a>
                    </li>
                  
                </ul>
            </div>
  
        </div>
    </div>
  </footer>
  
  
  
  