<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <br>
      <h1 class="display-6">Configuration Settings  </h1>
      <p class="">Create or edit existing configuration's using the tools below.</p>
  
    </div>

    <hr>
  </div>


<div class="container-fluid">
    <button class="btn btn-primary" [routerLink]="['/configuration/create']"> Add New Configuration </button>
    <br>
    <br>

    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Customer Name</th>
            <th scope="col">Options</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer_config of customer_configuration_list | async">
            <th>{{ customer_config['customer_configuration_name'] }}</th>
            <td>

                <button class="btn btn-success" [routerLink]="['/configuration/edit/', customer_config.customer_configuration_name]">Edit Configuration</button>
                <button class="btn btn-danger" style="margin-left: 10px;" (click)="DeleteCustomerConfiguration(customer_config.customer_configuration_name)">Delete Configuration</button>

            </td>
          </tr>

        </tbody>
      </table>


    

</div>
  